<section
  class="flex flex-col-reverse md:flex-row gap-x-2 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-300 [&>p>strong]:font-semibold text-pretty">
    <p>
      My name is &lt;Joaquin Emanuel Lizarraga /&gt, my friends call me Ema. The
      first time I programmed was a pic with a pics burner of simil. Pickit
      burner and all done in C when I was 14 years old. Then I moved on to
      Arduino building home automation and robotics with IoT. <strong
        >Now I build applications to interact with sensors and AIs.</strong
      >
    </p>
    <p>
      I am currently in the middle of developing <strong>SugarSync</strong>, an
      app for diabetes control and management where the user can read the
      different sensors of different brands, count carbohydrates, and keep a
      total record so that the doctor can access that information with the same
      app.
    </p>
    <p>
      Among my successes, I highlight that <strong
        >during Henry's bootcamp, I was elected as TA (Teaching Assistant)</strong
      >, which consisted of guiding, accompanying and helping the new bootcamp
      entrants to take the intense path to graduation, of which 100% of them
      were successful. bootcamp to take the intense path to graduation, of which
      100% of my students graduated. <strong
        >Today I find myself as HA(Henry Assistant)</strong
      >, training both soft and hard skills to the current TAs.
    </p>
  </div>
  <img
    alt="Pic of the creator of this site"
    src="/JoaEmRealPic.png"
    class="rounded-full size-56 hover:scale-125 transition"
  />
</section>
