<p>
  Mi nombre es &lt;Joaquin Emanuel Lizarraga /&gt, mis amigos me llaman Ema. La
  primera vez que programé fue un pic con un quemador de pics de simil Pickit
  casero y todo hecho en C a los 14 años. Después pasé a Arduino contruyendo
  domótica y robótica con IoT. Ahora contruyo aplicaciones para interactuar con
  sensores.
</p>
<p>
  Actualmente me encuentro en pleno desarrollo de una app para control y manejo
  de diabetes donde el usuario puede leer los diversos sensores de diferentes
  marcas, hacer conteo de carbohidratos, y llevar un registro total para que el
  médico pueda acceder a esa información con la misma app.
</p>
<p></p>
<p></p>
<p></p>
