<section class="flex gap-x-2 items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-300 [&>p>strong]:font-semibold text-pretty"
  >
    <p>
      Mi nombre es &lt;Joaquin Emanuel Lizarraga /&gt, mis amigos me llaman Ema.
      La primera vez que programé fue un pic con un quemador de pics de simil
      Pickit casero y todo hecho en C a los 14 años. Después pasé a Arduino
      contruyendo domótica y robótica con IoT. <strong
        >Ahora contruyo aplicaciones para interactuar con sensores y AIs.</strong
      >
    </p>
    <p>
      Actualmente me encuentro en pleno desarrollo de <strong>SugarSync</strong
      >, una app para control y manejo de diabetes donde el usuario puede leer
      los diversos sensores de diferentes marcas, hacer conteo de carbohidratos,
      y llevar un registro total para que el médico pueda acceder a esa
      información con la misma app.
    </p>
    <p>
      Entre mis éxitos, destaco que <strong
        >durante el bootcamp de Henry, fui elegido como TA(Teaching Assistant)</strong
      >, que consistía en guiar, acompañar y ayudar a los nuevos ingresantes al
      bootcamp a llevar el intenso camino a la graduación, de los cuales el 100%
      de mis alumnos se graduaron. <strong
        >Hoy me encuentro como HA(Henry Assistant)</strong
      >, capacitando tanto en habilidades blandas como duras a los actuales TAs.
    </p>
  </div>
  <img
    src="/JoaEmRealPic.png"
    class="rounded-full size-56 hover:scale-125 transition"
  />
</section>
