---
import { useTranslations, type Locale } from "../i18n/index";
import ExperienceItem from "./ExperienceItem.astro";

interface Props {
  lang: Locale;
}

const { lang } = Astro.props;
const t = useTranslations(lang);

const EXPERIENCE = [
  {
    date: t("exp.onde.date"),
    title: t("exp.onde.title"),
    description: t("exp.onde.description"),
    company: "Rabid Fish Labs LLC",
    link: ["https://www.onde.pt/"],
    more: ["Onde"],
  },
  {
    date: t("exp.sugarsync.date"),
    title: t("exp.sugarsync.title"),
    description: t("exp.sugarsync.description"),
    company: "Eir Labs LLC",
    link: ["https://eirlabs.dev"],
    more: ["Eir Labs LLC"],
  },
  {
    date: t("exp.sparkco.date"),
    title: t("exp.sparkco.title"),
    description: t("exp.sparkco.description"),
    company: "Spark n Co",
    link: [
      "https://www.instagram.com/pursuitai.io/",
      "https://www.rentscape.co/",
    ],
    more: ["PursuitAI", "Rentscape"],
  },
  {
    date: t("exp.ha.date"),
    title: t("exp.ha.title"),
    description: t("exp.ha.description"),
    company: "Henry",
    link: "https://www.soyhenry.com/",
    more: "SoyHenry",
  },
  {
    date: t("exp.bocancorp.date"),
    title: t("exp.bocancorp.title"),
    description: t("exp.bocancorp.description"),
    company: "Bocancorp",
    link: "https://www.bocancorporation.com/en",
    more: "Bocancorp",
  },
  {
    date: t("exp.ta.date"),
    title: t("exp.ta.title"),
    description: t("exp.ta.description"),
    company: "Henry",
    link: "https://www.soyhenry.com/",
    more: "SoyHenry",
  },
  {
    date: t("exp.foodapp.date"),
    title: t("exp.foodapp.title"),
    description: t("exp.foodapp.description"),
    company: "Henry",
    link: "https://github.com/AJoaquinLizarraga/Food-app.git",
    more: "Food App - Repository",
  },
  {
    date: t("exp.ricknmorty.date"),
    title: t("exp.ricknmorty.title"),
    description: t("exp.ricknmorty.description"),
    company: "Henry",
    link: "https://github.com/AJoaquinLizarraga/rick-n-morty.git",
    more: "Rick n Morty - Repository",
  },
  {
    date: t("exp.3dprinter.date"),
    title: t("exp.3dprinter.title"),
    description: t("exp.3dprinter.description"),
    company: "Henry",
    more: "",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3.5">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
