---
import ExperienceItem from "./ExperienceItem.astro";

const pursuitProject = "Pursuit";
const rentscapeProject = "Rentscape";
const sparkncoProject = "Spark n Co";

const EXPERIENCE = [
  {
    date: "August 2025 - now",
    title: "Fullstack Mobile Developer (React native - expo, supabase and AI)",
    // projectName: "Pursuit,Rentscape",
    description: `
    ${sparkncoProject}:\n
    In this project, I contributed to integrating an AI-powered chat solution using OpenAI and DeepSeek to automate and streamline Jira ticket management. The system leverages advanced natural language processing to interpret user inquiries in real time, automatically generating tickets, creating incident reports, and dispatching notifications without manual intervention.
    ${pursuitProject}:\n
      A mobile application developed with React Native and Expo, integrating Supabase for backend services and authentication, and utilizing OpenAI. \nIt implements a Retrieval Augmented Generation (RAG) model with Pinecone to generate personalized training and nutritional plans based on each user's personal data. \nThe application combines AI and data analysis to provide tailored recommendations that optimize individual performance and overall well-being.\n
    ${rentscapeProject}:\n
      An integration within the Rentscape platform that features an AI-powered chat solution. \nThis system leverages interactive chat combined with function calling to generate precise data, which is then used to perform searches on Pinecone for the best rental properties. \nThe solution offers an intuitive, personalized search experience, streamlining the decision-making process in the real estate market.`,
    company: "Spark n Co",
    link: ["https://www.soyhenry.com/", "https://www.soyhenry.com/"],
    more: "",
  },
  {
    date: "February 2024 - August 2024",
    title: "HA - Henry Assistant",
    description:
      "The responsibilities are: Pre-select new Teach Assistants. Train them in soft skills. Conduct role-plays, where the pre-selected candidates participate in a simulated situation. Finally choose the finalists, who will be in charge of the incoming students to Henry's bootcamp.",
    company: "Henry",
    link: ["https://www.soyhenry.com/"],
    more: "",
  },
  {
    date: "August 2023 - October 2023",
    title: "Software Engineer",
    description:
      "Develop a dynamic page using AWS (DynamoDB, S3, Lambda), NextJs, Zustand, Tailwind, MaterialTailwind Integrate rich text markdown system and multimedia file management. Authenticate with token and controlled forms. Develop with SCRUM methodologies, exercise GitFlow, coordinate with Notion task board. Optimize site functionality, achieve agile and dynamic user interface, achieve attractive aesthetics according to home page standards and representative of a company that provides technology services. Propose creative ideas and solutions for process improvement.",
    company: "Bocancorp",
    link: ["https://www.bocancorporation.com/en"],
    more: "Private site",
  },
  {
    date: "July 2023 - September 2023",
    title: "TA - Teaching Assistant for students at Henry Bootcamp",
    description:
      "Main tasks: Coordinate a group of new joining students throughout the whole bootcamp experience. Guide students in the first steps of the course and clarify their doubts. Provide assistance in solving exercises and encourage group teamwork (Pair Programming). Suggest ideas to improve the Bootcamp processes. Promote collaboration and build community within the students",
    company: "Henry",
    link: ["https://www.soyhenry.com/"],
    more: "",
  },
  {
    date: "July 2023 - August 2023",
    title: "Web Developer",
    description:
      "In this position, I started a fullstack project from scratch, as part of my own bootcamp project, using React, Redux, Html and Css for the frontend; node,js and express with morgan as middelware for the backend, with the challenge of a faulty API, with frequent crashes, and updates that changed the structure, here I learned how to create my own API on github (https://github.com/AJoaquinLizarraga/Food-API-mine.git) to make support requests, and structure the code for proper error handling and to work whether the api is down or not: https://github.com/AJoaquinLizarraga/Food-app.git",
    company: "Henry",
    link: ["https://github.com/AJoaquinLizarraga/Food-app.git"],
    more: "",
  },
  {
    date: "June 2023 - July 2023",
    title: "Web Developer",
    description:
      "I started by integrating the knowledge of the bootcamp in the frontend such as React, Redux, Html and Css and in the backend with express in a bootcamp integrator project, which was modified in various ways throughout the bootcamp itself, advancing in the functional part, and in the cards it is possible to see the visual progress: https://github.com/AJoaquinLizarraga/rick-n-morty.git",
    company: "Henry",
    link: ["https://github.com/AJoaquinLizarraga/rick-n-morty.git"],
    more: "",
  },
  {
    date: "2019 - 2022",
    title: "3d Printer programmer and 3d designer",
    description:
      "I programmed, updated and repaired 3d printers FMDI programmed, updated and repaired 3d printers FMD",
    company: "Henry",
    link: ["https://github.com/AJoaquinLizarraga/rick-n-morty.git"],
    more: "",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3.5">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
