---
import ExperienceItem from "./ExperienceItem.astro";

const pursuitProject = "Pursuit";
const rentscapeProject = "Rentscape";
const sparkncoProject = "Spark n Co";

const EXPERIENCE = [
  {
    date: "August 2024 - now",
    title: "Fullstack Mobile Developer (React native - expo, supabase and AI)",
    // projectName: "Pursuit,Rentscape",
    description: `
    ${sparkncoProject}:\n
    In this project, I contributed to integrating an AI-powered chat solution using OpenAI and DeepSeek to automate and streamline Jira ticket management.
    The system leverages advanced natural language processing to interpret user inquiries in real time, automatically generating tickets, creating incident reports, and dispatching notifications without manual intervention.
    ${pursuitProject}:\n
      I led the development of a mobile app using React Native and Expo, which integrates Supabase for backend services and authentication.
      I also implemented a Retrieval and Augmented Generation (RAG) model with Pinecone to store personalized training and nutrition plans based on each user's personal data, all generated with an OpenAI AI model.
      The app combines AI, structured data output, and data analytics to provide personalized recommendations that optimize individual performance and overall well-being.
      In the process, I trained the team on:
      ► Generative AI model APIs, cost-based token counting, context injection, prompting structure management, and structured data output.
      ► Created embeddings and similarity functions to generate similarity recommendations and searches.
      ► Created Supabase edge functions using Deno.js and optimized them to interact with OpenAI request times.
    ${rentscapeProject}:\n
      I developed a feature within the Rentscape platform that features an AI-powered chat solution.
      This system leverages chat interaction with AI combined with function_calling and structured data output to generate accurate data as the AI obtains data with each message.
      That data is used to generate embeddings and perform Pinecone searches for the best rental properties.
      The solution offers an intuitive and personalized search experience based on a mathematical calculation, streamlining the decision-making process in the real estate market.
      In the process I instructed the team on the following:
      ► Use of AI reasoning models that allow function_calling and structured data output at the same time.
      ► Vector database management and client creation for Pinecone using Supabase's Edge functions with Deno`,
    company: "Spark n Co",
    link: ["https://www.instagram.com/pursuitai.io/", "https://www.rentscape.co/" ],
    more: ["PursuitAI", "Rentscape"],
  },
  {
    date: "February 2024 - August 2024",
    title: "HA - Henry Assistant",
    description:
      "The responsibilities are: Pre-select new Teach Assistants. Train them in soft skills. Conduct role-plays, where the pre-selected candidates participate in a simulated situation. Finally choose the finalists, who will be in charge of the incoming students to Henry's bootcamp.",
    company: "Henry",
    link: "https://www.soyhenry.com/",
    more: "SoyHenry",
  },
  {
    date: "August 2023 - January 2024",
    title: "Software Engineer",
    description:
      "Develop a dynamic page using AWS (DynamoDB, S3, Lambda), NextJs, Zustand, Tailwind, MaterialTailwind Integrate rich text markdown system and multimedia file management. Authenticate with token and controlled forms. Develop with SCRUM methodologies, exercise GitFlow, coordinate with Notion task board. Optimize site functionality, achieve agile and dynamic user interface, achieve attractive aesthetics according to home page standards and representative of a company that provides technology services. Propose creative ideas and solutions for process improvement.",
    company: "Bocancorp",
    link: "https://www.bocancorporation.com/en",
    more: "Bocancorp",
  },
  {
    date: "July 2023 - September 2023",
    title: "TA - Teaching Assistant for students at Henry Bootcamp",
    description:
      "Main tasks: Coordinate a group of new joining students throughout the whole bootcamp experience. Guide students in the first steps of the course and clarify their doubts. Provide assistance in solving exercises and encourage group teamwork (Pair Programming). Suggest ideas to improve the Bootcamp processes. Promote collaboration and build community within the students",
    company: "Henry",
    link: "https://www.soyhenry.com/",
    more: "SoyHenry",
  },
  {
    date: "July 2023 - August 2023",
    title: "Web Developer",
    description:
      "In this position, I started a fullstack project from scratch, as part of my own bootcamp project, using React, Redux, Html and Css for the frontend; node,js and express with morgan as middelware for the backend, with the challenge of a faulty API, with frequent crashes, and updates that changed the structure, here I learned how to create my own API on github (https://github.com/AJoaquinLizarraga/Food-API-mine.git) to make support requests, and structure the code for proper error handling and to work whether the api is down or not: https://github.com/AJoaquinLizarraga/Food-app.git",
    company: "Henry",
    link: "https://github.com/AJoaquinLizarraga/Food-app.git",
    more: "Food App - Repository",
  },
  {
    date: "June 2023 - July 2023",
    title: "Web Developer",
    description:
      "I started by integrating the knowledge of the bootcamp in the frontend such as React, Redux, Html and Css and in the backend with express in a bootcamp integrator project, which was modified in various ways throughout the bootcamp itself, advancing in the functional part, and in the cards it is possible to see the visual progress: https://github.com/AJoaquinLizarraga/rick-n-morty.git",
    company: "Henry",
    link: "https://github.com/AJoaquinLizarraga/rick-n-morty.git",
    more: "Rick n Morty - Repository",
  },
  {
    date: "2019 - 2022",
    title: "3d Printer programmer and 3d designer",
    description:
      "I programmed, updated and repaired 3d printers FMDI programmed, updated and repaired 3d printers FMD",
    company: "Henry",
    // link: ["https://github.com/AJoaquinLizarraga/rick-n-morty.git"],
    more: "",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3.5">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
