<header
  class="flex justify-between items-center py-6 w-full xl:w-[1120px] mx-auto"
>
  <img src="JoaEm.jpeg" alt="JoaEm photo" class="rounded-full size-16 mx-2" />

  <nav class="flex flex-row gap-x-10 opacity-90 mx-2">
    <a href="#">Home</a>
    <a href="#experience">Experience</a>
    <a href="#projects">Projects</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </nav>
</header>
